
.devskills{
    width: 80%;
    margin: auto;
    padding: 50px;
}
.row1{
    width: 43%;
    height: 350px;
    float: left;
    margin: 23px;
}
.row1:hover{
    cursor: pointer;
	transform: scale(1.1);
}

.row2{
    width: 43%;
    height: 350px;
    float: right;
    margin: 23px;
}
.row2:hover{
    cursor: pointer;
	transform: scale(1.1);  
}

.row3{
    width: 43%;
    height: 350px;
    float: left;
    margin: 23px;
}
.row3:hover{
    cursor: pointer;
	transform: scale(1.1); 
}

.row4{
    width: 43%;
    height: 350px;
    float: right;
    margin: 23px;
    float: right;
}
.row4:hover{
    cursor: pointer;
	transform: scale(1.1);
}

b{
    font-size: 30px;
}
b:hover{
 color: rgb(173, 78, 19);;
}
p{
    font-size: 16px;
}

/* =================================================== */

@media only screen and (max-width: 1000px){
   
    .row1{
        width: 28vw;
        height: 45vh;
    }
    .row2{
        width: 28vw;
        height: 45vh;
    }
    .row3{
        width: 28vw;
        height: 45vh;
    }
    .row4{
        width: 28vw;
        height: 45vh;
        
    }
        
    }

    /* =================================================== */

@media only screen and (max-width: 600px){
   
   
    .row1{
        width: 60vw;
        height: 30vh;
        
    }
    .row2{
        left: 20px;
        width: 60vw;
        height: 30vh;
    }
    .row3{
        width: 60vw;
        height: 25vh;
    }
    .row4{
        width: 60vw;
        height: 30vh;
        
    }
        
    }

        /* =================================================== */
       
     @media only screen and (max-width: 500px){
        .close{
            display: block;
        }
        .bar{
            display: block;
            position: absolute;
            
            top: 5px;
            right: 0;
            padding-top: 25px;
            padding-right: 25px;
            
        }
         #nav1 {
            
            background-color: rgb(19, 19, 19);
            position: fixed;
            right: -200px;
            width: 140px;
            height: 40vh;
            padding-top: 10px;    
        }
        
        .sidebar nav li {
        display: block;
        margin: 25px;
            
        }
        #close1{
            display: block;
            color: #b0382b;
            font-weight:bolder;
            font-size: 22px;
        }
    .row1{
        width: 70vw;
        height: 40vh;
    }
    .row2{
        width: 70vw;
        height: 35vh;
    }
    .row3{
        width: 70vw;
        height: 33vh;
    }
    .row4{
        width: 70vw;
        height: 50vh;
        
    }
        
    }

    
        /* =================================================== */
        @media only screen and (max-width: 300px){
            .close{
                display: block;
            }
            .bar{
                display: block;
                position: absolute;
                
                top: 5px;
                right: 0;
                padding-top: 25px;
                padding-right: 25px;
                
            }
             #nav1 {
                
                background-color: rgb(19, 19, 19);
                position: fixed;
                right: -200px;
                width: 140px;
                height: 40vh;
                padding-top: 10px;    
            }
            
            .sidebar nav li {
            display: block;
            margin: 25px;
                
            }
            #close1{
                display: block;
                color: #b0382b;
                font-weight:bolder;
                font-size: 22px;
            }
   
   
            .row1{
                width: 80vw;
                height: 40vh;
            }
            .row2{
                width: 80vw;
                height: 40vh;
            }
            .row3{
                width: 80vw;
                height: 32vh;
            }
            .row4{
                width: 80vw;
                height: 50vh;
                
            }
                
            }